
@{
    ViewBag.Title = "Delete Instructor";
}

<div style="margin-left:10px;" class="vertical-center">
    <h1 style="margin-left: 90px; margin-bottom:20px;">Delete Instructor</h1>
    <form method="post" action="/api/university/instructors?_method=DELETE" id="deleteInstructor">
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="add1">Instructor's ID:</span>
                <input class="form-control" aria-describedby="add1" type="number" name="ID" id="ID" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <input style="margin-left:170px;" class="btn btn-default btn-lg" type="submit" value="Submit" />
            </div>
        </div>

    </form>

    <script type="text/javascript">
        $(function () {
            var form = $('#deleteInstructor');
            form.submit(function (ev) {
                ev.preventDefault();
                var formAction = $(this).attr('action');
                $.ajax({
                    url: formAction + '&id=' + $('#ID').val(),
                    type: 'DELETE',
                    success: function (data) {
                        alert(data);
                    }
                })
            })

        });
    </script>
</div>
