@{
    ViewBag.Title = "Update Student";
}
<div class="vertical-center">
    <h1 style="margin-left: 120px; margin-bottom:20px;">Update Student</h1>
    <form method="post" action="/api/university/students?_method=PUT" id="updateStudent">
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="add1">Student's ID:&#8196;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input class="form-control" aria-describedby="add1" type="number" name="ID" id="ID" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="add2">Student's Name:&#8196;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input class="form-control" aria-describedby="add2" type="text" name="Name" id="Name" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="add3">Student's School Number:&nbsp;</span>
                <input class="form-control" aria-describedby="add3" type="text" name="Number" id="Number" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="add4">Student's Department's ID:</span>
                <input class="form-control" aria-describedby="add4" type="text" name="Department" id="Department" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="add5">Student's Advisor's ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input class="form-control" aria-describedby="add5" type="text" name="Advisor" id="Advisor" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="add6">Student's GPA:&hairsp;&hairsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input class="form-control" aria-describedby="add6" type="number" step="any" name="GPA" id="GPA" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <input style="margin-left:200px;" class="btn btn-default btn-lg" type="submit" value="Submit" />
            </div>
        </div>
    </form>

    <script type="text/javascript">
        $(function () {
            var form = $('#updateStudent');
            form.submit(function (ev) {
                var dto = {};
                dto.ID = $('#ID').val()
                dto.Name = $('#Name').val()
                dto.Number = $('#Number').val()
                dto.Advisor = $('#Advisor').val()
                dto.Department = $('#Department').val()
                dto.GPA = $('#GPA').val()
                ev.preventDefault();
                var formAction = $(this).attr('action');
                $.ajax({
                    url: formAction,
                    type: 'PUT',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(dto),
                    success: function (data) {
                        alert(data);
                    }
                })
            })

        });
    </script>
</div>

