<div>
    <h2 class="list-align">Extraction Processes</h2>
    <div class="list-group list-align">
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Student/Extract">Get Students</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Section/Extract">Get Sections</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/StudentSection/Extract">Get Student Sections</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Department/Extract">Get Departments</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Course/Extract">Get Courses</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Instructor/Extract">Get Instructors</a>
    </div>

    <h2 class="list-align">Creation Processes</h2>
    <div class="list-group list-align">
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Student/Insert">Create New Student</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Section/Insert">Create New Section</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/StudentSection/Insert">Create New Student Section</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Department/Insert">Create New Department</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Course/Insert">Create New Course</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Instructor/Insert">Create New Instructor</a>
    </div>
    <h2 class="list-align">Update Processes</h2>
    <div class="list-group list-align">
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Student/Update">Update Student</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Section/Update">Update Section</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/StudentSection/Update">Update Student Section</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Department/Update">Update Department</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Course/Update">Update Course</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Instructor/Update">Update Instructor</a>

    </div>
    <h2 class="list-align">Deletion Processes</h2>
    <div class="list-group list-align">
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Student/Delete">Delete Student</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Section/Delete">Delete Section</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/StudentSection/Delete">Delete Student Section</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Department/Delete">Delete Department</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Course/Delete">Delete Course</a>
        <a class="btn btn-primary list-group-item list-margin item-background" href="/Instructor/Delete">Delete Instructor</a>
    </div>

</div>

